<div class="zhuyin-keyboard" aria-label="Zhuyin keyboard layout">
	/**/ /**/ /*~~~~*/ ~ ~~ /*~~~~*/ ~ /*~~~~~~~~~~~~~~~~*/ /*~~~~~~~*/
	~
		~~~ ~~~ ~ /*~~~~~~~~~~~~~~~~~~~*/
		<div class="key-row row-/*~~~~~~*/ ~ ~~">
			/*~~~~*/ /**/ ~~~ ~~ /**/
			~
				~~~ /*~~~~~~~~~~*/ ~~ ~~~ /*~*/
				~
					<audio id="/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/" src="/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/"></audio>
				~

				~~~ /*~~~~~~~~~~*/ ~~ /*~*/
				~
					<button type="button" class="zhuyin tone" onclick="() => AddSymbol(key.Symbol)">
						/*~~~~~~~*/
					</button>
				~
				/**/
				~
					<button type="button" class="zhuyin" aria-label="Play /*~~~~~~~*/" ~onclick="~~ ~~ /*~~~~~~~~~~~~~~*/">
						/*~~~~~~~*/
					</button>
				~
			~
		</div>
	~
</div>

<p>Current input: /*~~~~~~~~~*/</p>

/*~*/ ~
	/*~~~*/ /*~~~~*/ /*~~~*/ /*~~~~~~~~*/ ~
	~
		/*~~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~*/ /*~~~~*/
/*~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~~*/
		/*~~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/
/*~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~~*/
		/*~~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/
/*~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~~~*/
		/*~~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~*/ /*~~~~*/ /*~~*/ /*~~~~*/
/*~~*/ /*~~~~*/ /*~~*/ /*~~~~*/ /*~~~*/
	~~

	/*~~~*/ /*~~*/ /*~~*/ /*~~~~~~*/ /*~~~*/ /*~~~*/ /*~~~~~~~*/

	/*~~~*/ /*~~*/ /*~~~~~~~~*/ ~ ~~~

	/*~~~*/ /**/ /*~~~~~~~~~~~~*/ /*~~~*/
	~
		/*~~~~~~~~*/ ~~ /*~~~*/
	~

	/*~~~*/ /*~~~~~~*/ ~~

	/*~~~*/ /*~*/ /**/ /*~~~~~~~~~~~~~*/ /**/
	~
		/*~~~~~~~~~~~~~~~~~~*/

		~~ /*~~~~~~~~~~*/ ~~ ~~~ /*~*/
		~
			/*~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
		~
	~
~

